
@define-mixin phone {
  @media (min-width: 400px) {
    @mixin-content;
  }
}
@define-mixin tablet {
  @media (min-width: 600px) {
    @mixin-content;
  }
}



@define-mixin pc {
  @media (min-width: 1000px) {
    @mixin-content;
  }
}


@define-mixin pc_large {
  @media (min-width: 1280px) {
    @mixin-content;
  }
}

@define-mixin tv {
  @media (min-width: 1700px)  {
    @mixin-content;
  }
}

@define-mixin tv_large {
  @media (min-width: 2200px)  {
    @mixin-content;
  }
}

@define-mixin clearfix {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}