
@define-mixin tablet {
  @media (min-width: 600px) {
    @mixin-content;
  }
}

@define-mixin pc {
  @media (min-width: 1000px) {
    @mixin-content;
  }
}

@define-mixin tv {
  @media (min-width: 1700px)  {
    @mixin-content;
  }
}

@define-mixin clearfix {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}