@import "normalize.css";
@import "_mixins";

/* ========================================== V A R I A B L E S ========================================== */
$mainBlack: #2a2c2f;
$Cream: #FFF8E7;
$Cream_2: #D9C9A4;
$Cream_3: #B29E6C;
$Cream_4: #8C7640;
$mainLatte: #D9C9A4;
$mainBlue: #00378d;
$mainGreen: #006e18;
$mainOrange: #e86400;
$mainYellow:#e9af00;
$mainViolet:#5b0047;
$mainRed:#950000;
$darkGrey: #eaece5;
$lightGrey:#FFFFF0;

/* =============================================  F O N T S  ============================================= */
@font-face 
{
    font-family: Kaligrafia;
    src: url(assets/fonts/Kaligrafia.otf);
}
@font-face 
{
    font-family: Mocna;
    src: url(assets/fonts/Mocna.ttf);
}
@font-face 
{
    font-family: Regular;
    src: url(assets/fonts/Regular.ttf);
}
@font-face 
{
    font-family: Chuda;
    src: url(assets/fonts/Chuda.ttf);
}
@font-face 
{
    font-family: Saucer;
    src: url(assets/fonts/Saucer.otf);
}
/* ============================================= G L O B A L S =========================================== */
wbr:after { content: "\00200B"; }
html{
	cursor:context-menu;
}
body{
	min-width: 200px;

	background-image: url('assets/images/grid.png');

	overflow-x: hidden;
}
h1, h2, h3, h4, h5{
	margin:0;
	padding:0;
}
span{
	margin:-5px;
	padding:0px;
}
h1{
	margin:0;
}
p{
	margin:0;
}
a{
	text-decoration: none;
	color:inherit;
	width:fit-content;
	height: fit-content;
}
hr{
	margin:0;
	padding: 0;
	box-shadow: 0px 0 10px 0px #9e9e9e9c;
}
button:focus {outline:0;} /*Usuwa niebieską ramkę która pojawiłaby się po kliknięciu przycisku*/


.parralax{
position:relative;
background-position:center;
background-size:cover;
background-repeat:no-repeat;
  /*
    fixed = parallax
    scroll = normal
  */
background-attachment:fixed;
}


.transition{
			/*Animacja zwiększania brightnessa po najechaniu myszą*/
		-webkit-transition-duration: 2.4s;
    	transition-duration: 2.4s;

    	&--fast{
    		-webkit-transition-duration: 0.8s;
    		transition-duration: 0.8s;
    	}
}

.underline{
	text-decoration: underline;
}
/* ============================================ E L E M E N T Y   P O W T A R Z A L N E ============================================ */



	.logo{
		width:200px;
		height:200px;
		margin: 0 auto;
		margin-bottom: 40px;
		background-image: url('assets/images/logo2.png');
		background-size: cover;

		/*Animacja zwiększania brightnessa po najechaniu myszą*/
		-webkit-transition-duration: 2.4s;
    	transition-duration: 2.4s;
		&:hover {
			-webkit-filter: brightness(200%); 
		}
	}



.podzial{
	background-color: black;
	max-width: 75%;
	height: 2px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;

	@mixin tablet{
		max-width: 35%;
	}
}



/* ============================================ N O R M A L ============================================ */

.wbudowie{


	background-color: $mainRed;

	text-align: center;
	color: white;
  	z-index: -1;
  	opacity: 0.8;
  	font-size: 1rem;

  	@mixin pc{
  	position: absolute;
  	width: 1500px;
  	padding: 20px 0px;
  	transform: translate(-600px, 150px) rotate(-45deg);
  	font-size: 1.5rem;
  	}

}


.header
{
	box-shadow: 0px 3px 12px 0px #000000;
	position: relative;
	overflow: hidden;
	min-width: 101%;

	@mixin phone{
	padding-top: 0px;
	}

	@mixin pc{
	background: none;
	padding-bottom: 30px;
	}


	.motto{
		min-width:150px;s
		margin:0 auto;
		margin-bottom: 30px;
		text-align: center;
		.tytul{
			color:white;
			font-family: kaligrafia;
			font-size: 0.7rem;
			@mixin pc{
				font-size: 1.3rem;
			}
		}
		.imie{
			color:white;
			font-family: Mocna;
			letter-spacing: 10px;
			font-size: 2rem;
			margin-left: 10px;
			@mixin pc{
				font-size: 7rem;
			}
		}
		.slogan{
			color:white;
			font-family: kaligrafia;
			font-size: 1rem;

			@mixin pc{
				font-size: 2rem;
			}
		}

	}
	.wyswietlfilm{
		display: block;
		width:150px;
		margin:50px auto;
		padding-top: 10px;
		padding-bottom: 10px;
		background-color:$mainBlack;
		margin-bottom: 20px;
		text-align: center;
		color:white;
		border: solid white 1px;
		font-family: regular;
		cursor:pointer;

		-webkit-transition-duration: 0.4s;
    	transition-duration: 0.4s;

    	&:hover {
		    background-color: $mainRed;
		    color: white;
		}

	}
	.menu_open_button{
		display: block;
		position: absolute;
		top:30px;
		right:40px;
		width:40px;
		height:40px;
		margin:0 auto;
		background-color: Transparent;
		background-image: url('assets/images/global/menu_button.png');
		background-size: cover;
		border:none;
		cursor:pointer;
		margin-bottom: 30px;

		-webkit-transition-duration: 0.4s;
    	transition-duration: 0.4s;

    	&:hover {
		    color: white;
		    cursor:pointer;
		}


		@mixin pc{
			display: none;
		}


	}
.bgvid {
 position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translate(-50%, -50%);
}
}
.menu{
	background-color: rgba(0,0,0,0.2);
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 0.8rem;
	form{
		width: fit-content;
		margin:0 auto;
		text-align: center;

		input{
			display: block;
			margin: 0 auto;
		}
		button{
			width: 100px;
			margin: 0 auto;
			margin-top: 10px;
			margin-bottom: 10px;
			background-color: $mainBlack;
			border-width: 1px;
			color:white;
		}
		label{
			color:white;
		}
	}

	.button{
		display: block;
		margin:0 auto;
		padding-bottom: 5px;
		padding-top: 5px;
		text-align: center;
		background-color:transparent;
		border:none;
		color:white;
		cursor:pointer;
		font-family: regular;

		&:hover{
			background-color:$mainRed;
		}
		@mixin pc{
			display: inline-block;
			margin-left: 3%;
		}
	}
		@mixin pc{
			display: block;
			margin-bottom: 30px;

			form{
				display: inline-block;
				float:right;
				margin-right: 30px;

				input{
					display: inline-block;
					border-width: 1px;
				}
				button{
					margin-left: 0;
					margin-top: 0px;
					margin-bottom: 0px;
					background-color: $mainBlack;
					border-width: 1px;
					color:white;
				}
			}
		}

		@mixin pc_large{
			font-size: 1.0rem;
		}
}
.intro{
	position: relative;
	overflow: hidden;

}
.omnie{
	background-color: transparent;
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: regular;

	&--padding{
		padding-top:100px;
		padding-bottom: 100px;
	}

	.naglowek{
		min-width:100px;
		text-align: center;
		margin: 0 auto;
		margin-bottom: 10px;

	}
	.tekst{
		padding: 5px 20px 5px 20px;
		text-align: center;
		max-width: 60%;
		margin:0 auto;
		background-color: white;
		@mixin phone{
			text-align: justify;
			text-indent: 30px;
		}

		@mixin tv{
			max-width: 1000px;
		}
	}
}
.video{
	padding-top:20px;
	background-color: transparent;
	.naglowek{
		min-width:180px;
		margin: 0 auto;
		color:black;
		text-align: center;
		font-family: regular;
		padding-bottom: 20px;
		font-size: 1.0rem;
	}
	.tekst{
		margin:0 auto;
		font-family: regular;
		margin-bottom: 30px;
		text-align: center;
		max-width: 60%;

		@mixin phone{
			text-align: justify;
			text-indent: 30px;
		}

		@mixin tv{
			max-width: 1000px;
		}


	}
	iframe{
		display:block;
		margin:0 auto;
		width: 90%;
		height:250px;
		box-shadow: 0px 0 15px 0px #000000;
		@mixin tablet{
			width:60%;
			height:36vw;
		}
		@mixin tv{
			width:40%;
			height:24vw;
		}
	}
}

.kawa, .laptop, .notes, .calculator{
box-shadow: 0px 0 10px 3px #000000;
width: 450px;
background-color: black;
border: 1px solid black;

@mixin pc{
	width: 300px;
}

@mixin tv_large{
	width: 400px;
}

}

.kawa{
	position: absolute;
	right:-650px;
	transform: rotate(3deg);

	@mixin pc{
	right:-40px;
	}

	@mixin pc_large{
	right: 50px;
	}

	@mixin tv{
		right: 200px;
	}
}

.laptop{
	position: absolute;
	left:-600px;
	transform: rotate(-5deg);


	@mixin pc{
		left:-30px;
	}

	@mixin pc_large{
		left: 50px;
	}

	@mixin tv{
		left:120px;
	}
}

.notes{
	position: absolute;
	right:-600px;
	bottom:230px;
	transform: rotate(-7deg);

	@mixin pc{
		right:-100px;
	}

	@mixin pc_large{
		right: -20px;
	}

	@mixin tv{
		right:50px;
	}
}

.calculator{
	position: absolute;
	left:-600px;
	bottom: 230px;
	transform: rotate(3deg);

	@mixin pc{
		left:-100px;
	}

	@mixin pc_large{
		left: -20px;
	}

	@mixin tv{
		left:90px;
	}
}

.umiejetnosci{
	position: relative;
	width: 100%;
	overflow: hidden;
	h4{
		min-width:180px;
		margin: 0 auto;
		color:black;
		text-align: center;
		font-family: regular;
		padding-bottom: 20px;
		font-size: 1.9rem;

		@mixin tablet{
			text-align: left;
		}
		}
	.lista{
		overflow: hidden;
		width:fit-content;
		max-width: 400px;
		margin: 0 auto;
	}
	.umiem{
		display: block;
				@mixin tablet{
			float: left;
		}
	}
	.ucze_sie{
		display: block;
						@mixin tablet{
			float: left;
		}
	}

}

.aktualnosci{
	padding-top: 30px;
	padding-left:5%;
	padding-right: 5%;
	padding-bottom: 30px;
	background-color: transparent;

		.naglowek{
		min-width:180px;
		margin: 0 auto;
		color:black;
		text-align: center;
		font-family: regular;
		padding-bottom: 20px;
		font-size: 1.0rem;

		@mixin tablet{
			font-size: 1.2rem;
		}

	}

		.nazwa{
		min-width:180px;
		margin: 0 auto;
		padding-bottom: 20px;
		color:black;
		font-family: regular;
		font-size: 0.6rem;
		text-align: center;

			@mixin tablet{
				font-size: 1rem;
			}
		}
	.wrapper{
		display: block;
		width:100%;
		margin: 0 auto;

		@mixin tablet{
			width:50%;
		}

		@mixin pc{
			width: 60%;
		}
		@mixin tv{
			max-width: 850px;
		}

		img{
			display: block;
			max-width: 100%;
			margin: 0 auto;
			margin-bottom: 20px;
			border: 1px solid black;
			box-shadow: 0px 0 5px 0px #000000;
			max-width: 100%;
			max-height: 400px;
			@mixin pc{

				margin: 10 auto;
			}
		}

		p{
			display: block;
			margin: 0 auto;
			text-align: center;
			
			font-family: regular;
			margin-bottom: 20px;
			max-width: 80%;


			@mixin tablet{
				max-width: 100%;
				text-align: justify;
				text-indent: 30px;
			}
		}

	}
}



.portfolio{
	background-color: transparent;
	clear: both;


	.naglowek{
		min-width:180px;
		margin: 0 auto;
		color:$mainBlack;
		font-family: regular;
		letter-spacing: 10px;
		font-size: 0.6rem;
		text-align: center;
		margin-bottom: 40px;
		margin-top: 20px;
		@mixin phone{
			font-size: 1.7rem;
		}

	}
	.dziedzina{
		background-color: rgba(0,0,0,0.05);
		padding-bottom: 10px;
		.nazwa_dziedziny{
			background-color: transparent;
			margin:0 auto;
			padding-bottom: 20px;
			padding-top: 20px;
			color:white;
			font-family: regular;
			text-align: center;
   			box-shadow: 0px 0 10px 0px #000000;
			font-size: 0.8rem;

			&--blue{
				background-color: $mainBlue;

			}
			&--red{
				background-color: $mainRed;
				
			}
			&--orange{
				background-color: $mainOrange;
				
			}
			&--green{
				background-color: $mainGreen;
				
			}
			&--violet{
				background-color: $mainViolet;
				
			}
			&--yellow{
				background-color: $mainYellow;
				
			}
			&--black{
				background-color: $mainBlack;
				
			}
		}

		.kafelki{
			padding-top:10px;
			padding-bottom: 10px;
			background-color: transparent;
			display: flex;
			flex-direction:column;

								transition-timing-function: cubic-bezier(0.05,-0.03, 0.15, 1.06);
								-webkit-transition-duration: 1.0s;
						    	transition-duration: 1.0s;


			@mixin tablet{
				flex-direction:row;
				margin:0 auto;
				max-width: 700px;
			}

			@mixin pc{
				max-width: 1100px;
			}

			@mixin tv{
				max-width: 1200px;
   				
			}

			.kafelek {
				display: flex;
				justify-content:center;
				position: relative;
				margin: 0 auto;
				margin-top:10px;
				margin-bottom:10px;
				width: 180px;
   				height: 180px;
   				padding: 0px;
   				border:solid black 1px;
   				overflow: hidden;
   				box-shadow: 0px 0 10px 0px #000000;
								transition-timing-function: cubic-bezier(0.05,-0.03, 0.15, 1.06);
								-webkit-transition-duration: 1.0s;
						    	transition-duration: 1.0s;

						    	&:hover {
								    box-shadow: 5px 5px 10px $mainBlack;
								    transform: scale(1.1, 1.1);

								    h3{
								    	position: absolute;
								    	display: block;
								    	top:0px;
								    }
								    
								}
				picture{
				display: flex;
				justify-content:center;
				}

				img{
					display: block;
					position: absolute;
					top:0;
					left: 50%;
					height:100%;
					transform:translateX(-50%);
				}

   				h3{
   					display: none;
   					pointer-events: none;
   					background-color:rgba(0,0,0,0.5);
   					color:white;
   					font-size: 0.8rem;
   					padding-top: 10px;
   					padding-bottom: 10px;

   					@mixin pc{
   						font-size: 1.2rem;

   					}
   				}

   				@mixin tablet{
   					width: 140px;
   					height: 140px;
   				}
   				@mixin pc{
				width: 230px;
   				height: 230px;
   				}   				
   				@mixin tv{
   				   	width:270px;
   					height:270px;	
   				}
			}

		}

		.kafelki_more{
			display: none;
		}

		.pokaz_wszystkie{
			display: block;
			width:110px;
			margin:0 auto;
			background-color: white;
			color:black;
			text-align: center;
			font-size: 4rem;
			box-shadow: 0px 0 10px 0px #9e9e9e9c;

											transition-timing-function: cubic-bezier(0, 1.08, 0.03, 1.01);
								-webkit-transition-duration: 1.0s;
						    	transition-duration: 1.0s;

						    	&:hover {
								    bbox-shadow: 0px 0 10px 0px #9e9e9e9c;
								    transform: scale(1.1, 1.1);
								    
								}
		}
	}
}
.dane{
		display: none;
		padding-top:20px;
		margin: 0 auto;
		padding-bottom: 30px;
		box-shadow: 0px -3px 10px 0px #000000;
		background-color: rgba(0,0,0,0.3);
		background-image: url('assets/images/grid.png');
		@mixin pc{
		}

		@mixin tv{
		}

		.nazwa{
			min-width:150px;
			margin:0 auto;
			margin-top: 5px;
			text-align: center;
			font-family: regular;
			color:black;
			font-size: 1.2rem;

		}
		.wroc
		{
			display: block;
			width:150px;
			margin:0 auto;
			background-color: white;
			color:black;
			text-align: center;
			font-size: 1.2rem;


											transition-timing-function: cubic-bezier(0, 1.08, 0.03, 1.01);
								-webkit-transition-duration: 1.0s;
						    	transition-duration: 1.0s;

						    	&:hover {
								    box-shadow: 10px 10px 5px darkGrey;
								    transform: scale(1.1, 1.1);
								    
								}
		}

		.galeria{
			margin-top:20px;
			margin-bottom:20px;
			padding-bottom: 10px;



			@mixin pc{
			margin: 0 auto;
			}

			@mixin tv{
			}

			.main{
				display:flex;
				align-items:center;
				justify-content:space-between;
				width:95%;
				margin: 0 auto;
				background-color: darkgrey;
   				border:solid black 1px;
   				box-shadow: 0px 0 15px 0px #000000;

   				@mixin pc{
   					width: 50%;
   				}
				@mixin tv{
					width:40%;
				}
				.gallery_image{
					display:none;
					width:100%;

					/*DISABLE RIGHT CLICK*/
					-webkit-user-select: none;  /* Chrome all / Safari all */
					-moz-user-select: none;     /* Firefox all */
					-ms-user-select: none;      /* IE 10+ */
					-o-user-select: none;
					user-select: none;
					/*=============*/
				}
			}
			.gallery_nav{
				display: flex;
				flex-direction: row;
				justify-content:center;
				margin-bottom: 20px;

				.next{
					width:40px;
					height:40px;
					background-color: transparent;
					background-image: url('assets/images/global/next.png');
					background-size: cover;
					border:none;
				}
				.prev{
					width:40px;
					height:40px;
					background-color: transparent;
					background-image: url('assets/images/global/prev.png');
					background-size: cover;
					border:none;
				}

					.prev, .next{
						&:hover{
							transform:scale(1.2); -webkit-transform:scale(1.2); 
							-moz-transform:scale(1.2); -o-transform:scale(1.2);	
						}
					}


				.active_photo{
					display: flex;
					align-items: center;
					font-family: Mocna;
					font-size:1.8rem;
					margin-right:10px;
					margin-left: 10px;
					color:black;
				}			
			}

		}	
	.paragraf{
		color:black;
		padding-top:20px;
		padding-bottom: 20px;
		text-align: center;
		line-height: 150%;
		font-family: regular;
		max-width: 90%;
		margin: 0 auto;

		@mixin pc{
			max-width: 800px;
			margin: 0 auto;
		}
	}
	.koniec{
		width:fit-content;
		max-width: 50px;
		margin:0 auto;
		font-size: 2rem;
		color:black;
		white-space: nowrap;
		clear: left;
		margin-top: 20px;
		margin-bottom: 20px;
	}

}

.stopka{
	padding-top: 30px;
	padding-bottom: 50px;
			clear: both;
			background-color: $mainBlack;
			background-size: 12px;
			box-shadow: 0px -3px 10px 0px #000000;
	.motto{
		min-width:150px;
		margin-bottom: 30px;
		text-align: center;
		color:white;
		font-family: kaligrafia;

		@mixin tablet{
			font-size: 2rem;
		}
	}
		.dane_kontaktowe{
		color:white;
		margin: 0 auto;
		margin-top: 30px;
		max-width:150px;
		font-family: regular;
		font-size: 1.0rem;

		p{
			margin-top: 20px;
		}

		@mixin tablet{
			max-width: 400px;
			font-size: 1.5rem;
		}
	}
	}
	.kontakty{
		display: flex;
		flex-direction:column;
		justify-content:center;
		width:fit-content;
		margin:0 auto;
		font-size: 0.8rem;
		margin-bottom: 50px;
		margin-top: 30px;

		@mixin phone{
			flex-direction:row;
			width:180px;
		}

		@mixin tablet{
			width:300px;
		}

		.kontakt{
			width:40px;
			height:40px;
			margin:0 auto;
			padding-top: 10px;
			padding-bottom: 10px;
			margin-top:20px;
			text-align: center;
			background-color: transparent;
			border:none;
			background-size: cover;
			cursor:pointer;

								-webkit-transition-duration: 0.3s;
						    	transition-duration: 0.3s;

						    	&:hover {
								    transform: scale(1.3, 1.3);
								    
								}
				    


		}
	}



/* ====================== K O N T E N T   D Y N A M I C Z N Y =====================================*/

.zakladka{
	position: absolute;
	width:30px;
	height: 30px;
	right:0;
	bottom: 0;
	background-image: url('assets/images/zakladka.png');
	background-size: cover;

}

.hidden{
	display: none;
}

.cube{
transition-timing-function: cubic-bezier(0.05,-0.03, 0.15, 1.06);
								-webkit-transition-duration: 0.3s;
						    	transition-duration: 0.3s;

	position: absolute;
	top:100px;
	left: 100px;
	width:200px;
	height: 200px;
	z-index: 10;
	font-size: 3rem;
	background-color: red;
	border:1px solid black;
}