@import "normalize.css";
@import "_mixins";

/* ========================================== V A R I A B L E S ========================================== */
$mainBlack: #2a2c2f;
$Cream: #FFF8E7;
$Cream_2: #D9C9A4;
$Cream_3: #B29E6C;
$Cream_4: #8C7640;
$mainLatte: #D9C9A4;
$mainBlue: #F5F5F5;
$mainGreen: #E7FFF8;
$mainOrange: #e86400;
$darkGrey: #eaece5;
$lightGrey:#FFFFF0;
/* =============================================  F O N T S  ============================================= */
@font-face 
{
    font-family: Kaligrafia;
    src: url(assets/fonts/Kaligrafia.otf);
}
@font-face 
{
    font-family: Mocna;
    src: url(assets/fonts/Mocna.ttf);
}
@font-face 
{
    font-family: Regular;
    src: url(assets/fonts/Regular.ttf);
}
/* ============================================= G L O B A L S =========================================== */
wbr:after { content: "\00200B"; }
html{
	cursor:context-menu;
}
body{
	min-width: 200px;
		background-color: $mainBlack;
}
h1, h2, h3, h4, h5{
	margin:0;
	padding:0;
}
span{
	margin:-5px;
	padding:0px;
}
h1{
	margin:0;
}
p{
	margin:0;
}
a{
	text-decoration: none;
	color:inherit;
	width:fit-content;
	height: fit-content;
}
hr{
	margin:0;
	padding: 0;
}
button:focus {outline:0;} /*Usuwa niebieską ramkę która pojawiłaby się po kliknięciu przycisku*/


/* ============================================ E L E M E N T Y   P O W T A R Z A L N E ============================================ */



	.logo{
		width:150px;
		height:150px;
		margin: 0 auto;
		margin-bottom: 30px;
		background-image: url('assets/images/logo_color.png');
		background-size: cover;

		/*Animacja zwiększania brightnessa po najechaniu myszą*/
		-webkit-transition-duration: 2.4s;
    	transition-duration: 2.4s;
		&:hover {-webkit-filter: brightness(350%); }
	}







/* ============================================ N O R M A L ============================================ */




.header
{
	background-color: black;
	position: relative;
	overflow: hidden;
	padding-top:80px;
	padding-bottom: 80px;
	@mixin tablet{
	background: none;
	}


	.motto{
		min-width:150px;
		margin:0 auto;
		margin-bottom: 30px;
		text-align: center;
		.tytul{
			color:white;
			font-family: kaligrafia;
			font-size: 1rem;
			@mixin pc{
				font-size: 2rem;
			}
		}
		.imie{
			color:white;
			font-family: Mocna;
			letter-spacing: 10px;
			font-size: 2rem;
			margin-left: 10px;
			@mixin pc{
				font-size: 5rem;
			}
		}
		.slogan{
			color:white;
			font-family: kaligrafia;
			font-size: 1rem;

			@mixin pc{
				font-size: 2rem;
			}
		}

	}
	.wyswietlfilm{
		display: block;
		width:150px;
		margin:0 auto;
		padding-top: 10px;
		padding-bottom: 10px;
		background-color:black;
		margin-bottom: 20px;
		text-align: center;
		color:white;
		border: solid white 1px;
		font-family: regular;
		cursor:pointer;

		-webkit-transition-duration: 0.4s;
    	transition-duration: 0.4s;

    	&:hover {
		    background-color: $mainOrange;
		    color: white;
		}

	}
	.menu_open_button{
		display: block;
		width:40px;
		height:40px;
		margin:0 auto;
		background-color: Transparent;
		background-image: url('assets/images/global/menu_button.png');
		background-size: cover;
		border:none;
		cursor:pointer;

		-webkit-transition-duration: 0.4s;
    	transition-duration: 0.4s;

    	&:hover {
		    background-color: $mainOrange;
		    color: white;
		}
	}
.bgvid {
 position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translate(-50%, -50%);
}
}
.menu{
	display: none;
	background-color: $mainBlack;

	.button{
		display: block;
		width:150px;
		margin:0 auto;
		margin-bottom: 10px;
		text-align: center;
		background-color:transparent;
		border:none;
		color:white;
		font-size: 1.5rem;
		cursor:pointer;
		font-family: regular;

		&:hover{
			background-color:$mainOrange;
		}
	}
}
.omnie{

	padding-top: 20px;
	padding-bottom: 20px;
	background-color: $darkGrey;
	font-family: regular;

	.naglowek{
		min-width:100px;
		text-align: center;
		margin: 0 auto;
		margin-bottom: 10px;
	}
	.tekst{
		padding: 5px 20px 5px 20px;
		text-indent: 30px;
		text-align: justify;
		max-width: 60%;
		margin:0 auto;

		&:first-letter {
		    font-size: 150%;
		}
	}
}
.video{
	background-color: white;
	padding-top:20px;
	.naglowek{
		min-width:180px;
		margin: 0 auto;
		color:black;
		text-align: center;
		font-family: regular;
		padding-bottom: 20px;
	}
	.tekst{
		margin:0 auto;
		font-size: 1.2rem;
		font-family: regular;
		text-indent: 20px;
		margin-bottom: 30px;
		text-align: justify;
		max-width: 70%;

		@mixin pc{
		max-width: 930px;	
		text-align: center;		
		}


		&:first-letter {
		    font-size: 150%;
		}


	}
	iframe{
		display:block;
		margin:0 auto;
		width: 90%;
		height:250px;

		@mixin tablet{
			width:60%;
			height:36vw;
		}
		@mixin tv{
			width:50%;
			height:25vw;
		}
	}
}

.aktualnosci{
	padding-top: 30px;
	background-color: white;
	padding-left:5%;
	padding-right: 5%;
	padding-bottom: 30px;


		.naglowek{
		min-width:180px;
		margin: 0 auto;
		padding-bottom: 20px;
		color:black;
		font-family: Mocna;
		letter-spacing: 10px;
		font-size: 1.2rem;
		text-align: center;

	}

			.nazwa{
		min-width:180px;
		margin: 0 auto;
		padding-bottom: 20px;
		color:black;
		font-family: regular;
		letter-spacing: 5px;
		font-size: 0.8rem;
		text-align: center;
	}
	.wrapper{
		display: block;
		width:100%;
		margin: 0 auto;

		@mixin tablet{
			width:50%;
		}

		@mixin pc{
			width: 60%;
		}
		@mixin tv{
			width: 40%;
		}

		img{
			display: block;
			max-width: 100%;
			margin: 0 auto;
			margin-bottom: 20px;

			@mixin pc{
				display: inline;
				max-width: 30%;
				float: left;
				margin: 10px;
				margin-top: 0px;
			}
		}

		p{
			display: block;
			margin: 0 auto;
			text-align: justify;
			text-indent: 30px;
			font-family: regular;
			font-size: 1.2rem;
			margin-bottom: 20px;
			max-width: 80%;


			@mixin tablet{
				max-width: 100%;
			}
		}

	}
}



.portfolio{
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: white;
	clear: both;
	.naglowek{
		min-width:180px;
		margin: 0 auto;
		padding-bottom: 20px;
		color:black;
		font-family: Mocna;
		letter-spacing: 10px;
		font-size: 1.2rem;
		text-align: center;
	}
	.dziedzina{
		background-color: white;
		padding-bottom: 10px;
		padding-top: 20px;
		.nazwa_dziedziny{
			background-image:url('assets/images/dziedzina_background.png');
			margin:0 auto;
			padding-bottom: 20px;
			padding-top: 20px;
			color:white;
			font-family: regular;
			text-align: center;
		}

		.kafelki{
			padding-top:10px;
			padding-bottom: 10px;
			background-color: white;
			display: flex;
			flex-direction:column;

			@mixin tablet{
				flex-direction:row;
				margin:0 auto;
				max-width: 700px;
			}

			@mixin pc{
				max-width: 1100px;
			}

			@mixin tv{
				max-width: 1800px;
   				
			}

			.kafelek {
				position: relative;
				margin: 0 auto;
				margin-top:10px;
				margin-bottom:10px;
				background-size: cover;
				width: 180px;
   				height: 180px;
   				padding: 0px;
   				border:solid black 1px;

								-webkit-transition-duration: 0.3s;
						    	transition-duration: 0.3s;

						    	&:hover {
								    box-shadow: 10px 10px 5px darkGrey;
								    transform: scale(1.1, 1.1);
								    
								}


   				h3{
   					pointer-events: none;
   					background-color:rgba(0,0,0,0.5);
   					color:white;
   					font-size: 0.8rem;

   					@mixin pc{
   						font-size: 1.5rem;

   					}
   				}

   				@mixin tablet{
   					width: 140px;
   					height: 140px;
   				}
   				@mixin pc{
				width: 230px;
   				height: 230px;
   				}   				
   				@mixin tv{
   				   	width:400px;
   					height: 400px;	
   				}
			}

		}

		.kafelki_more{
			display: none;
		}

		.pokaz_wszystkie{
			display: block;
			width:100px;
			padding-top:5px;
			padding-bottom:5px;
			margin:0 auto;
			background-color: black;
			color:white;
			text-align: center;
		}
	}
}
.dane{
		display: none;
		background-color: $mainBlack;
		padding-top:20px;
		width: 90%;
		margin: 0 auto;

		@mixin pc{
			width: 70%;
		}

		.nazwa{
			min-width:150px;
			margin:0 auto;
			margin-top: 30px;
			text-align: center;
			font-family: regular;
			color:white;
			font-size: 2rem;

		}
		.wroc
		{
			display: block;
			width:100px;
			margin:0 auto;
			margin-top:20px;
			padding-top:5px;
			padding-bottom:5px;
			background-color: black;
			color:white;
			text-align: center;
		}

		.galeria{
			margin-top:20px;
			margin-bottom:20px;
			padding-top:10px;
			padding-bottom: 10px;
			background-color: $mainBlack;


			@mixin pc{
				float: left;
				width:60%;
			}

			.main{
				display:flex;
				align-items:center;
				justify-content:space-between;
				width:95%;
				margin: 0 auto;
				background-color: darkgrey;

				@mixin pc{
					width:80%;
				}
				.gallery_image{
					display:none;
					width:100%;

					/*DISABLE RIGHT CLICK*/
					-webkit-user-select: none;  /* Chrome all / Safari all */
					-moz-user-select: none;     /* Firefox all */
					-ms-user-select: none;      /* IE 10+ */
					-o-user-select: none;
					user-select: none;
					/*=============*/
				}
			}
			.gallery_nav{
				display: flex;
				flex-direction: row;
				justify-content:center;
				.next{
					width:40px;
					height:40px;
					background-color: transparent;
					background-image: url('assets/images/global/next.png');
					background-size: cover;
					border:none;
				}
				.prev{
					width:40px;
					height:40px;
					background-color: transparent;
					background-image: url('assets/images/global/prev.png');
					background-size: cover;
					border:none;
				}

					.prev, .next{
						&:hover{
							transform:scale(1.2); -webkit-transform:scale(1.2); 
							-moz-transform:scale(1.2); -o-transform:scale(1.2);	
						}
					}


				.active_photo{
					display: flex;
					align-items: center;
					font-family: Mocna;
					font-size:1.8rem;
					margin-right:10px;
					margin-left: 10px;
					color:white;
				}			
			}

		}	
	.paragraf{
		color:white;
		text-indent: 40px;
		padding-top:20px;
		padding-bottom: 20px;
		text-align: justify;
	}
}
#dane > p:nth-child(4)
{
		margin-top: 50px;
}

.stopka{
	padding-top: 30px;
	padding-bottom: 50px;
			clear: both;
	.motto{
		min-width:150px;
		margin:0 auto;
		margin-bottom: 30px;
		text-align: center;
		color:white;
		font-family: kaligrafia;
		font-size: 1.3rem;

		@mixin tablet{
			font-size: 2rem;
		}
	}
	.kontakty{
		display: flex;
		flex-direction:column;
		justify-content:center;
		width:fit-content;
		margin:0 auto;
		font-size: 0.8rem;
		margin-bottom: 50px;
		margin-top: 30px;

		@mixin tablet{
			flex-direction:row;
			width:300px;
		}

		.kontakt{
			width:40px;
			height:40px;
			margin:0 auto;
			padding-top: 10px;
			padding-bottom: 10px;
			margin-top:20px;
			text-align: center;
			background-color: transparent;
			border:none;
			background-size: cover;


								-webkit-transition-duration: 0.3s;
						    	transition-duration: 0.3s;

						    	&:hover {
								    transform: scale(1.3, 1.3);
								    
								}



		}
	}
}