/*@import "normalize.css"; */
@import "_mixins";

/* ========================================== V A R I A B L E S ========================================== */
$mainBlack: #2a2c2f;
$Cream: #FFF8E7;
$Cream_2: #D9C9A4;
$Cream_3: #B29E6C;
$Cream_4: #8C7640;
$mainLatte: #D9C9A4;
$mainBlue: #F5F5F5;
$mainGreen: #E7FFF8;
/* =============================================  F O N T S  ============================================= */
@font-face 
{
    font-family: Kaligrafia;
    src: url(assets/fonts/Kaligrafia.otf);
}
@font-face 
{
    font-family: Mocna;
    src: url(assets/fonts/Mocna.ttf);
}
@font-face 
{
    font-family: Regular;
    src: url(assets/fonts/Regular.ttf);
}
/* ============================================= G L O B A L S =========================================== */
wbr:after { content: "\00200B"; }
body{
	min-width: 150px;
}
h1, h2, h3, h4, h5{
	margin:0;
	padding:0;
}
span{
	margin:-5px;
	padding:0px;
}
h1{
	margin:0;
	font-size: 1.5rem;
}
p{
	margin:0;
}
a{
	text-decoration: none;
	color:inherit;
}
/* ============================================ R E U S A B L E ========================================== */
/* ======================= REUSABLE POSITIONING ===================*/
.hidden{
	display: none;
}
.div__centered{
	display: table;
    margin-left: auto;
	margin-right: auto;
}
.block{
	&::after {
	    content: "";
	    clear: both;
	    display: table;
	}
}
.inline{
	display: inline-block;
}
.wrapper{
	padding-left: 20px;
	padding-right: 20px;
}
.padding_large_horizontal{
	padding-left: 40px;
	padding-right: 40px;
}
.padding_large_top{
	padding-top: 20px;
}
.padding_large_bottom{
	padding-bottom:30px;
}
.margin_large_top{
	margin-top: 30px;
}
.margin_large_bottom{
	margin-bottom: 30px;
}
.margin_side{
	margin-left: 10px;
	margin-right: 10px;
}
/* ======================= REUSABLE TEXT ===================*/
.kaligrafia{
	font-family: Kaligrafia;
}
.mocna{
	font-family: Mocna;
}
.regular{
	font-family: Regular;
}
.chuda{
	font-family: arial;
}
.letter_spacing{
	letter-spacing: 8px;
}
.large_text{
	font-size: 1.2rem;
	@mixin phone{
		font-size: 2rem;
	}
}
.text__centered{
	text-align: center;
}
.justified{
	text-align: justify;
}
.indented{
	text-indent: 10%;
}
.odchudzona{
	font-weight: 200;
}
.pogrubiona{
	font-weight: 800;
}
/* ======================= REUSABLE BACKGROUNDS ===================*/
.background_white{
	background-color: white;
}
.background_black{
	background-color: $mainBlack;
}
.background_cream{
	background-color: $Cream;
}
.background_cream_2{
	background-color: $Cream_2;
}
.background_cream_3{
	background-color: $Cream_3;
}
.background_cream_4{
	background-color: $Cream_4;
}
.background_latte{
	background-color: $mainLatte;
}
.background_blue{
	background-color: $mainBlue;
}
.background_green{
	background-color: $mainGreen;	
}
.background_pink{
	background-color: pink;	
}
/* ======================= REUSABLE ELEMENTS ===================*/
.ramka{
position:absolute;
z-index: 100;
width:100%;
background-color: rgba(0,0,0,.5);
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto;
  padding-top: 20px;
  display:none;
  &_zdj{
  	height:90%;
  }
  &_zdjecie{
  	max-height: 90%;
  	max-width:90%;
  }
}
.button{
	background-color: $mainBlack;
	&:hover { 
    background-color: $mainLatte;
    color:$mainBlack;
	}
	@mixin tiny{
		padding:5px;
	}
	@mixin phone{
		padding:10px;
	}
	&__rectangle{
		width: 30px;
		height: 30px;
	}
}
.border_small{
	border: 1px solid;
}
.hover{
	&:hover{
		cursor:pointer;
	    box-shadow: 10px 15px 25px rgba(0,0,0,0.3);
	}
}
.box{
	text-align: center;
	width:100px;
	height: 100px;
	border: 1px solid;
	&:hover { 
    background-color: $mainLatte;
    color:$mainBlack;
    opacity: .5;
	}

	display: flex;
	justify-content: center;
	align-items: center;

	&_title{
		background-color: rgba(0,0,0,0.8);
		color:white;
		font-family: Regular;
		padding:20px;
		width:100%;
		display: flex;
		text-align: center;
		align-self: flex-end;
		justify-content: center;
	}

	&_large{
		min-width:20vw;
		min-height: 20vw;	
	}
}
.subpage_content{

	color: white;

	width:100%;
	background-color:$mainBlack;
	display: none;

	.portfolio__row{
		padding-bottom: 30px;
		padding-top: 30px;
		@mixin pc{
			padding-bottom: 0px;
		}

		.box{

		@mixin pc{
			width:5vw;
			height: 5vw;

		}	

		.box_large
		{
			@mixin pc{
			width:20vw;
			height: 20vw;

		}	
		}

		}
	}

}
/* ============================================ N O R M A L ============================================ */
.menu{
	display: none;
	color: white;
	@mixin phone{
		width:100%;

	}
}
.header{
	color:white;
	@mixin tiny{

	}
	@mixin phone{
		width: 100%;
	}
}
.menu_open_button{
	width:40px;
	height:40px;
	background-image: url("assets/images/global/menu_button.png");
	background-size: cover;
	float:right;
}
.logo{
	width:100px;
	height: 100px;
	background-image: url("assets/images/logo_color.png");
	background-size: cover;
	display: block;
}
.motto{
	width: 80%;
	display: block;
}
.about{
	width:100%;
}
.video{
	width:100%;
	.iframe{
		width:64vw;
		height: 36vw;
	}
}
.portfolio{
	width:100%;
	&__row{

		@mixin tiny{
			.box{
				min-width:60vw;
				min-height: 60vw;
				margin-left: auto;
				margin-right: auto;
				margin-bottom: 20px;
			}
		}
		@mixin phone{
			.box{
				width:60vw;
				height: 60vw;
				margin-left: auto;
				margin-right: auto;
				margin-bottom: 20px;
			}
		}
		@mixin tablet{

		}
		@mixin pc{
		  padding: 0;
		  margin: 0;
		  list-style: none;
		  
		  display: -webkit-box;
		  display: -moz-box;
		  display: -ms-flexbox;
		  display: -webkit-flex;
		  display: flex;
		  
		  -webkit-flex-flow: row wrap;
		  justify-content: space-around;
			.box{
				width: 20vw;
				height: 20vw;
			}

		}
		@mixin tv{

		}
	}
}

.portfolio__element{
	padding-bottom: 50px;
	padding-top: 20px;
	@mixin pc{
		padding-bottom: 10px;
		padding-top: 10px;
	}
}
.life{
	width:100%;
	height: 250px;
}
.footer{
	width:100%;
	color:white;
}
.contact{
	width:100%;
	height: 250px;

	&__data{
		width:50px;
		height: 50px;
	}
	&__form{
		width:50px;
		height: 50px;
	}
}
.form{
	width: 80%;
	input, button, textarea{
		display: block;
        margin : 0 auto;
        width:80%;
	}
	input{
			max-width:300px; 
	}
	textarea{
		height: 100px;
	}
	@mixin tv{

		max-width: 1000px;
	}
}
.fb{
	background-image: url("assets/images/global/fb.png");
	background-size: cover;
}
.gg{
	background-image: url("assets/images/global/gg.png");
	background-size: cover;
}
.gmail{
	background-image: url("assets/images/global/gmail.png");
	background-size: cover;
}


/*EXPERIMENTAL SHIT*/
